@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #1f242d;
}

.header {
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 35px;
  transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: #0ef;
}